<a href="https://colab.research.google.com/github/Byfroggy/AIpython/blob/main/250328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
num1 = int(input("첫번째 정수를 입력하세요: "))
num2 = int(input("두번째 정수를 입력하세요: "))

if num1>num2:
  print(f"{num1}은(는) {num2}보다 큽니다.")
elif num1<num2:
  print(f"{num1}은(는) {num2}보다 작습니다.")
else:
  print(f"{num1}와(과) {num2}은(는) 같습니다.")

첫번째 정수를 입력하세요: 2
두번째 정수를 입력하세요: 2
2와(과) 2은(는) 같습니다.

In [7]:
num1 = int(input("첫번째 정수를 입력하세요: "))
num2 = int(input("두번째 정수를 입력하세요: "))
num3 = int(input("세번째 정수를 입력하세요: "))

maxN = num1

if maxN<num2:
  maxN=num2

if maxN<num3:
  maxN=num3

print(f"{num1}, {num2}, {num3} 중 가장 큰 수는 {maxN}입니다.")

첫번째 정수를 입력하세요: 1
두번째 정수를 입력하세요: 2
세번째 정수를 입력하세요: 3
1, 2, 3 중 가장 큰 수는 3입니다.

In [33]:
score = int(input("시험 점수 (0~100)를 입력하세요: "))
gradeList = 'A', 'B', 'C', 'D', 'F'
cutline = 90

for i in range(5):
  if score >= cutline:
    grade = gradeList[i]
    break
  else:
    cutline -= 10

print("당신의 학점은 "+grade+"입니다.")

시험 점수 (0~100)를 입력하세요: 59
당신의 학점은 F입니다.

In [41]:
year = int(input("연도를 입력하세요: "))

if(year%4==0 and year%100!=0) or (year%400==0):
  print(f"{year}년은 윤년입니다.")
else:
  print(f"{year}년은 윤년이 아닙니다.")

연도를 입력하세요: 2004
2004년은 윤년입니다.

In [47]:
count = 0
while count<5:
  print(count)
  count+=1

0
1
2
3
4

In [57]:
# 1부터 N까지의 합 계산하기
# 단순 더하기 방법
n = int(input("양의 정수 N을 입력하세요: "))
sum = 0
for i in range(1,n+1):
  sum += i
print(f"총합은 {sum}입니다.")

#가우스 계산법
n = int(input("양의 정수 N을 입력하세요: "))
sum = n*(n+1)//2
print(f"총합은 {sum}입니다.")

양의 정수 N을 입력하세요: 2
총합은 3입니다.
양의 정수 N을 입력하세요: 4
총합은 10입니다.

In [62]:
count = 0
print("0부터 9까지 출력: ")
for i in range(0,10):
  print(count)
  count+=1
print("for 루프 종료")

0부터 9까지 출력:
0
1
2
3
4
5
6
7
8
9
for 루프 종료