<a href="https://colab.research.google.com/github/Byfroggy/AIpython/blob/main/250418.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
student = {
    'name' : '김민수',
    'age' : 20,
    'major': '컴퓨터공학'
}

print(f"학생 정보 딕셔너리: {student}")

name = student['name']
print(f"이름: {name}")
age = student['age']
print(f"이름: {age}")
major = student['major']
print(f"이름: {major}")

학생 정보 딕셔너리: {'name': '김민수', 'age': 20, 'major': '컴퓨터공학'}
이름: 김민수
이름: 20
이름: 컴퓨터공학

In [6]:
from re import S
print(f"원래 학생 정보 딕셔너리: {student}")

student['grade'] = 4.0 # 새로운 키와 값 추가
print(f"요소 추가 후 딕셔너리: {student}")
del student['major'] # 키와 값 삭제
print(f"요소 삭제 후 딕셔너리: {student}")

원래 학생 정보 딕셔너리: {'name': '김민수', 'age': 20, 'major': '컴퓨터공학', 'grade': 4.0}
요소 추가 후 딕셔너리: {'name': '김민수', 'age': 20, 'major': '컴퓨터공학', 'grade': 4.0}
요소 삭제 후 딕셔너리: {'name': '김민수', 'age': 20, 'grade': 4.0}

In [12]:
fruit_prices = {
    '사과': 1500,
    '바나나': 800,
    '딸기': 3000,
    '오렌지': 1200
}

print("과일 가격 정보:")
for fruit, price in fruit_prices.items():
  print(f"{fruit}: {price}원")

print("\n과일 목록:")
for fruit in fruit_prices.keys():
  print(fruit)

print("\n가격 목록:")
for price in fruit_prices.values():
  print(price)

과일 가격 정보:
사과: 1500원
바나나: 800원
딸기: 3000원
오렌지: 1200원

과일 목록:
사과
바나나
딸기
오렌지

가격 목록:
1500
800
3000
1200

In [14]:
A, B = map(int, input().split())
print(A+B)

1 2
3